<h1>Task List</h1>

<ul>
  <% @tasks.each do |task| %>
    
    <li>
      <input type="checkbox" <%= task.completed ? 'checked' : '' %>>
      <%= link_to task.title, task_path(task) %>
      <a href=""><i class="fas fa-trash-alt"></i></a>
    </li>
  <% end %>
</ul>

<%= link_to 'Add a new task', new_task_path %>
